{% extends 'base.html.twig' %}

{% block titrePage %}
	Liste des entreprises
{% endblock %}

{% block contenu %}
<div class="container-fluid">
	<center>
	{% set debutNouvelleLigne = true %}
        
	{% for entreprise in entreprises %}
		{# Si on est en début de ligne, on crée un nouveau composant row #}
		{% if debutNouvelleLigne == true %}
			<div class="row">
			{% set debutNouvelleLigne = false %}
		{% endif %}
		<div class="col-md-4">
			<div class="card text-white bg-rougeClair mb-3" style="max-width: 18rem;">
				<a class="lienBouton" href="{{ path('prostages_listeStages_entreprise_nom', {nomEntreprise: entreprise.nom}) }}">
					<div class="card-body">
						<h4 class="card-title">{{entreprise.nom}}</h4>
						
						<p class="card-text">{{entreprise.activite}}</p>

						<HR/>

						<h6 class="card-text">
							<a class="lienRouge" href="{{ path('prostages_formulaireModificationEntreprise', {id: entreprise.id}) }}">
								Modifier
							</a>
						</h6>
					</div>
				</a>
			</div>
		</div>

		{# Vérifier s'il faut passer à la ligne suivante (toutes les 3 ressources affichées) #}
		{% if loop.index % 3 == 0 %}
		</div>
		<br/>
		{% set debutNouvelleLigne = true %}
		
		{% endif %}

	{% else %}

	<h1>
		<center>Aucune entreprise disponible.</center>
	</h1>

	{% endfor %}
	</center>
</div>
{% endblock %}