{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1><center>Liste des formations</center></h1> <HR>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul>
			{% for formation in formations %}
				<li>
					<a href="{{ path('prostages_listeStages_formation', {id:formation.getId()}) }}">
						<h3>{{formation.getNomCourt()}} ({{formation.getNomLong()}})</h3>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}