{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1><center>Liste des entreprises</center></h1> <HR>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul>
			{% for entreprise in entreprises %}
				<li>
					<a href="{{ path('prostages_listeStages_entreprise_nom', {nomEntreprise:entreprise.nom}) }}">
						<h3>{{entreprise.nom}}</h3>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}