{% extends 'base.html.twig' %}

{% block contenu %}
<h1>Bienvenue sur la page d'accueil de Prostages !</h1>

<p>
Vous trouverez ci-dessous les derniers stages ajoutés sur Prostages.
</p>
<ul>
	<li>
		<a href="{{path('prostages_stages', {id:5})}}">Stage développement Web PHP/Javascript</a>
	</li>
	
	<li>
		<a href="{{path('prostages_stages', {id:340})}}">Stage édition logiciel C++</a>
	</li>
	
	<li>
		<a href="{{path('prostages_stages', {id:12})}}">Stage pentesting cybersécurité</a>
	</li>
	
	<li>
		<a href="{{path('prostages_stages', {id:37})}}">Stage protection réseaux</a>
	</li>
</ul>
{% endblock %}

