{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1><center>Liste des stages</center></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Identifiant
						</th>
						<th>
							Titre
						</th>
						<th>
							Nom de l'entreprise
						</th>
						<th>
							Activité de l'entreprise
						</th>
						<th>
							Adresse de l'entreprise
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							WebDesigner
						</td>
						<td>
							Panda One
						</td>
						<td>
							Production de sites web
						</td>
						<td>
							223 avenue de l'Adour, 64600 Anglet
						</td>
					</tr>
					<tr>
						<td>
							2
						</td>
						<td>
							Pentester
						</td>
						<td>
							Orange
						</td>
						<td>
							Correction de failles de sécurité web
						</td>
						<td>
							46 avenue du Chut, 33700 Mérignac
						</td>
					</tr>
					<tr>
						<td>
							3
						</td>
						<td>
							Programmeur Android
						</td>
						<td>
							RedMoot
						</td>
						<td>
							Production d'applications mobiles natives Android
						</td>
						<td>
							16 rue de la pipe, 64100 Bayonne
						</td>
					</tr>
					<tr>
						<td>
							4
						</td>
						<td>
							StormShield
						</td>
						<td>
							Orange
						</td>
						<td>
							Protection réseau
						</td>
						<td>
							46 avenue du chut, 33700 Mérignac
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

